@font-face {
    font-family: 'Roboto Regular';
    src: url("/src/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url("/src/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    src: url("/src/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-display: swap;
}


